{{#partial "title" }}
    Create a Hero
{{/partial}}

<!--form.hbs.-->
{{#partial "content"}}

    <h1>Add your Hero</h1>
    <form action='/hero_card'>
        <div class="form-group">
            <label for="hero">Your Hero</label>
            <input id="hero" name="hero" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="superPower">Your Hero's Super Power.</label>
            <input id="superPower" name="superPower" class="form-control" type="text">
        </div>
        <div class="form-group">
        <label for="weakness">Your Hero's Weakness.</label>
        <input id="weakness" name="weakness" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="age">Your Hero's Age.</label>
            <input id="age" name="age" class="form-control" type="number">
        </div>
        <div class="form-group">
            <label for="Squad">Select hero's Squad</label>
        <select id="squad" name="squad" class="form-control">
            <option>Joker Squad</option>
            <option>Rock Squad</option>
            <option>Marvel Squad</option>
        </select>
        </div>
        <button type="submit" class="btn">Add!</button>
    </form>
{{/partial}}

{{> layout.hbs}}