{{#partial "content"}}
<h1>Hero Squad</h1>
<p>Who is Your Hero?</p>

<img src="/images/who.jpeg">

<!--<p><a href="/hero_photos" >Hero Photos.</a></p>-->

<!--    <p><a href="/form.hbs">Add hero.</a></p>-->
{{/partial}}
{{> layout.hbs}}