<!DOCTYPE html>
<html>
<head>
    <title>Hero Squad</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
<h1>Hero Photos</h1>
<ul>
    <li><img src='/images/all.jpeg' alt='All Super Heroes.'/></li>
    <li><img src='/images/fighter.jpeg' alt='A photo of a fire fighter.'/></li>
</ul>
</body>
</html>