{{#partial "title"}}
    Hero Photos.
{{/partial}}
{{#partial "content"}}
<h1>Hero Photos</h1>
<ul>
    <li><img src='/images/all.jpeg' alt='All Super Heroes.'/></li>
<!--    <li><img src='/images/fighter.jpeg' alt='A photo of a fire fighter.'/></li>-->
</ul>
{{/partial}}

{{> layout.hbs}}